@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --scn-background: 0 0% 100%;
  --scn-primary: 240 5.9% 10%;
}



body {
  font-family: Arial, Helvetica, sans-serif;
}
